{{#if lowsec}}
    <div class="leaderboard-item">
        {{name}} <span class="leaderboard-time">{{min}}:0{{sec}}</span>
    </div>
{{else}}
    <div class="leaderboard-item">
        {{name}} <span class="leaderboard-time">{{min}}:{{sec}}</span>
    </div>
{{/if}}